{% extends 'base.html' %}

{% block title %}Dodaj/edytuj tag{% endblock %}
{% load bootstrap %}



{% block body %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand"  href="{% url 'index'  %}">Start <i class="fas fa-play"></i></a>
      <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <a class="navbar-brand"  href="{% url 'tag_all'  %}">Awarie <i class="fas fa-tools"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

         <a class="navbar-brand"  href="{% url 'tag_add'  %}">Dodaj <i class="fas fa-folder-plus"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <a  style="position:  absolute; right: 0px;"  class="navbar-brand"  href="{% url 'logout'  %}">
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit"><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
        </a>

    </nav>

<div class="bacground_form">

        <div class="card mx-auto"  style="width: 800px; margin: 50px">
            <div class="card-header" align="center">
                 Dodaj nowy Tag
             </div>
            <div class="card-body" >
                <form method="post">
                    {% csrf_token %}
                    {{new_tag|bootstrap}}
                    <button type="submit" class="btn btn-dark"> Dodaj tag <i class="fas fa-database"></i> </button>
                       <a  href="{% url 'tag_all' %}">Powrót <i class="fas fa-undo"></i> </a>
                </form>
            </div>
        </div>

</div>

{% endblock %}