{% extends 'base.html' %}

{% block title %}Dodaj/edytuj tag{% endblock %}
{% load bootstrap %}



{% block body %}

<div class="bacground_form">

        <div class="card mx-auto"  style="width: 800px; margin: 50px">
            <div class="card-header" align="center">
                 Dodaj nowy Tag
             </div>
            <div class="card-body" >
                <form method="post">
                    {% csrf_token %}
                    {{new_tag|bootstrap}}
                    <button type="submit" class="btn btn-dark"> Dodaj tag <i class="fas fa-database"></i> </button>
                       <a  href="{% url 'tag_all' %}">Powrót <i class="fas fa-undo"></i> </a>
                </form>
            </div>
        </div>

</div>

{% endblock %}