

/*centrowanie panelu logowania*/
.ab_center
{
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

/*centrowanie przycisku zaloguj*/
.btn_center
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bacground_login{
  background-image: url("bcg_login.jpg");
    background-color: #cccccc;
  height: 654px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.bacground_form{
  background-image: url("bcg_login.jpg");
    background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}
.img1{
      background: url('details_close.png') no-repeat center center;
}

.pull-center{
   position: relative;
 }

 /*marginesy ilości rekordów na stronie*/
.dataTables_length{
    margin-top: 100px;
    margin-left: 130px;
}

/*marginesy wyszukiwarki*/
.dataTables_filter{
    margin-top: 100px;
    margin-right: 130px;
}

/*marginesy strony przewijania*/
 .dataTables_paginate{
     margin-right: 130px !important;
 }

/*marginesy panelu info*/
.dataTables_info{
     margin-left: 130px !important;
 }

/*marginesy strony*/
  .row{
      margin-left: 10px !important;
      margin-right: 10px !important;
  }

/*wyśrodkowanie ikony wykonania*/
.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child{
      text-align: center;
  }

.graph_margin{
    margin-top: 100px;
}
.btn22{
 font-size: 22px;
}